/* GENERAL */

/* 
  Basic styles & define dimensions
  to nearly empty grid kids
*/
html {
  background: #ad8e98;
}
main > * {
  background: #05142A;
  font-size: clamp(1rem, 2rem, 2.5rem);
  color: #ad8e98;
  font-weight: bolder;
  padding: 0.5em;
}

/* GRID */

/* Grid Area Definitions */
header            {grid-area: hdr;}
nav               {grid-area: nav;}
.first_priority   {grid-area: pr1;}
.second_priority  {grid-area: pr2;}
.third_priority   {grid-area: pr3;}
aside             {grid-area: aside;}
footer            {grid-area: footer;}

/* Tablet/Medium-Sized Screens */
@media screen and (min-width: 768px) {
  main {
    display: grid;
    grid-template-columns: 40ch 80ch 1fr 1fr 1fr;
    grid-template-rows: repeat(7, 1fr);
    gap: 1em;
    grid-template-areas:
      "hdr hdr hdr hdr hdr"
      "aside pr1 pr1 pr1 pr1"
      "aside pr1 pr1 pr1 pr1"
      "aside pr2 pr2 pr2 pr2"
      "aside pr3 pr3 pr3 pr3"
      "nav nav nav nav nav"
      "footer footer footer footer footer"
      ;
  }
}

/* Desktop/Larger-Sized Screens */
@media screen and (min-width: 1200px) {
  main {
    display: grid;
    grid-template-columns: 40ch 80ch 1fr 1fr 40ch;
    grid-template-rows: repeat(7, 1fr);
    gap: 1em;
    grid-template-areas:
      "hdr hdr hdr hdr hdr"
      "aside pr1 pr1 pr1 nav"
      "aside pr1 pr1 pr1 nav"
      "aside pr1 pr1 pr1 nav"
      "aside pr2 pr2 pr2 nav"
      "aside pr2 pr2 pr2 nav"
      "aside pr3 pr3 pr3 nav"
      "footer footer footer footer footer"
      ;
  }
}

/* XL Screens */
@media screen and (min-width: 1980px) {
  main {
    display: grid;
    grid-template-columns: 150px 40ch 1fr 40ch 150px;
    grid-template-rows: repeat(7, 1fr);
    gap: 5em;
    grid-template-areas:
      "hdr hdr hdr hdr hdr"
      ". aside pr1 nav ."
      ". aside pr1 nav ."
      ". aside pr1 nav ."
      ". aside pr2 nav ."
      ". aside pr2 nav ."
      ". aside pr3 nav ."
      "footer footer footer footer footer"
      ;
  }
}