body {
  margin: 3rem 1rem;
}
h2 {
  text-align: center;
}

/* 
  Overwrite the default IMG behavior, since images will otherwise default to their intrinsic size.
*/
img {
  /* change all images to block */
  display: block;
  /* Tell all images to fill 100% width of their container by default*/
  min-width: 100%;
  min-height: 100%;
}

/* SHARED BOX SIZING */
.percentage-container,
.object_fit,
.demo-imp-clear {
  width: 50vw;
  height: 30vh;
  margin: 4rem auto;
  border: 2px solid black;
}

/* Percentage Image */
.percentage-container img {
  width: 100%;
  height: 100%;
}

/* Object-Fit -- Cover*/
/* 
  You NEED to provide the width-height values for object-fit to work. This example uses the value of "cover" 

  See the docs for other values to apply.
*/
.object_fit__cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Floating Fix */
/* 
  Play around with these rules in the inspection tool, as per the HTML comments. How can you make the content design work for your goals?
*/
.img-float-right {
  width: 280px;
  float: right;
}
.clear_fix {
  /* clear: both; */
}