header,nav,main,footer,aside,div {
  padding: 2%;
  border: solid 2px #000000;
  margin: 10px;
  font: bold larger "Courier New", Courier, monospace;
  white-space: inherit;
}
header {display: flex;gap: 10px;}
nav {grid-area: nav;}
main {grid-area: main;}
footer {grid-area: footer;}
aside {grid-area: aside;}
.grid-parent {
  display: grid;
  grid-template-areas: 
    "nav main main main aside"
    "footer footer footer footer footer";
}
header,footer {height:100px;}
nav,main,aside {height:400px;}
nav {background:#7fff00;}
main {background:#f0e68c;}
aside {background:#4682b4;}
#search {background:#ffff00;font-size:small;}
#form {background:#fafad2;font-size:medium;}
header {background:#ff8c00;}
footer#contentinfo {background:#ffb6c1;}