
/* General */

* {
  box-sizing: border-box;
}

body {
  width: 90%;
  margin: 2em auto;
  font: 1em/1.3 Arial, Helvetica, sans-serif;
}

a:link,
a:visited {
  color: #333;
}

/* Navigation */

nav ul,
aside ul {
  list-style: none;
  padding: 0;
}

nav a:link,
nav a:visited {
  background-color: rgba(207, 232, 220, 0.2);
  border: 2px solid rgb(79, 185, 227);
  text-decoration: none;
  display: block;
  padding: 10px;
  color: #333;
  font-weight: bold;
}

nav a:hover {
  background-color: rgba(207, 232, 220, 0.7);
}

/* Article */

article {
  margin-bottom: 1em;
}

/* Asides */

.related {
  background-color: rgba(79, 185, 227, 0.3);
  border: 1px solid rgb(79, 185, 227);
  padding: 10px;
}

.sidebar {
  background-color: rgba(207, 232, 220, 0.5);
  padding: 10px;
}

/* Media Queries */

@media screen and (min-width: 600px) {
  article {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 20px;
  }

  nav ul {
    display: flex;
  }
  /*
    flex: 1 is a shorthand for the following rules:
    
    1. flex-grow: A number specifying how much the item will grow relative to the rest of the flexible items.

    2. flex-shrink: A number specifying how much the item will shrink relative to the rest of the flexible items

    3. flex-basis: The start-length of the item. Possible values: "auto", "inherit", or a number followed by "%", "px", "em", etc. 
  */
  nav li {
    /* flex: 1; */
    flex-grow : 1; 
    flex-shrink : 1;
    flex-basis : 0;
  }
}

@media screen and (min-width: 70em) {
  main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 20px;
  }

  article {
    margin-bottom: 0;
  }

  footer {
    border-top: 1px solid #ccc;
    margin-top: 2em;
  }
}

