h1 { font-size: 2rem; }

/*
  See https://screensiz.es for example breakpoints
*/
@media screen and (min-width: 680px) {

  h1 { font-size: 4rem; }
  
}

@media screen and (min-width: 1080px) {

  h1 { font-size: 6rem; }
  
}