/* BASIC TYPOGRAPHY */
h1      {font-size: 3rem;}
h2      {font-size: 2.5rem;}
h3      {font-size: 2rem;font-style: italic;}
p,ol,ul {font-size: 1.25rem;}
pre     {font-size: clamp(8px, 3vw, 16px);}
code    {font-size: 1.5rem;}

/* .note */
pre,.note {
  background-color: lightgray;
  padding: 1.5em;
  margin-left: 1em;
  max-width: fit-content;
  word-wrap: break-word;
}