/* GENERAL */

/* 
  Basic styles & define dimensions
  to nearly empty grid kids
*/
main > * {
  background: rgb(226, 21, 82);
  font-size: clamp(1rem, 2rem, 2.5rem);
  color: rgb(10, 10, 10);
  font-weight: bolder;
  padding: 0.75em;
}

/* GRID */

/* Grid Area Definitions */
header            {grid-area: hdr;}
nav               {grid-area: nav;}
.first_priority   {grid-area: pr1;}
.second_priority  {grid-area: pr2;}
aside             {grid-area: aside;}
footer            {grid-area: footer;}

/* Tablet/Medium-Sized Screens */
@media screen and (min-width: 768px) {
  main {
    display: grid;
    grid-template-columns: 40ch 80ch 1fr 1fr 1fr;
    grid-template-rows: repeat(7, 1fr);
    gap: 1em;
    grid-template-areas:
      "hdr hdr hdr hdr hdr"
      "nav pr1 pr1 aside aside"
      "nav pr1 pr1 aside aside"
      "nav pr2 pr2 aside aside"
      "nav pr2 pr2 aside aside aside"
      "footer footer footer footer footer"
      ;
  }
}

/* Desktop/Larger-Sized Screens */
@media screen and (min-width: 1200px) {
  main {
    display: grid;
    grid-template-columns: 40ch 80ch 1fr 1fr 40ch;
    grid-template-rows: repeat(7, 1fr);
    gap: 1em;
    grid-template-areas:
      "hdr hdr hdr hdr hdr"
      "nav pr1 pr1 pr1 aside"
      "nav pr1 pr1 pr1 aside"
      "nav pr1 pr1 pr1 aside"
      "nav pr2 pr2 pr2 aside"
      "nav pr2 pr2 pr2 aside"
      "footer footer footer footer footer"
      ;
  }
}

/* XL Screens */
@media screen and (min-width: 1980px) {
  main {
    display: grid;
    grid-template-columns: 150px 40ch 1fr 40ch 150px;
    grid-template-rows: repeat(7, 1fr);
    gap: 5em;
    grid-template-areas:
      "hdr hdr hdr hdr hdr"
      ". nav pr1 aside ."
      ". nav pr1 aside ."
      ". nav pr1 aside ."
      ". nav pr2 aside ."
      ". nav pr2 aside ."
      "footer footer footer footer footer"
      ;
  }
}