@import "nav.css";
/* Fonts from https://fonts.google.com/ */
@import url(https://fonts.googleapis.com/css?family=Merriweather:200,400,700|Open+Sans:400italic,700italic,400,700|Slabo+27px:400);

/* 
  1. GENERAL
*/
html {
  font-size: 18px;
}

body {
  background-color: aquamarine;
  color: black;
  line-height: 1.5;
}

/* 
  2. TYPOGRAPHY
*/

/* Font Sizing */
body { font-size: 1.1rem; }
h1 { font-size: 2.25rem; } 
h2 { font-size: 1.5rem; } 
h3 { font-size: 1.25rem; }
h4 { font-size: 1.25rem; font-style: italic; }
blockquote { font-size: 1.125rem; }

/* Font Families */
p  { font-family: Open Sans; }
h1,h2,h3 { font-family: Merriweather; }
blockquote { font-family: Merriweather; }

/* Headings */
h1 {
  margin-bottom: 35px;
}

/* 
  3. ARTICLE
*/

/* Posts */

.post {
  max-width: 600px;
  margin: auto;
  padding: 1em;
  border: #19c78c solid 1px;
  box-shadow: 7px 10px 5px 0px wheat;
}

/* paragraphs */
.post p {
  padding: 10px 0px 10px 40px;
}

/* blockquotes */
.post blockquote {
  /* 
   Note the CSS specificity @ work
   with this font-family declaration
  */
  font-family: Slabo;
  padding: 1.5rem;
  margin: 0em 4rem;
}
.post blockquote::before {
  font-family: Merriweather;
  content: "“";
  font-size: 2rem;
}
.post blockquote::after {
  font-family: Merriweather;
  content: "”";
  font-size: 2rem;
}

/* first letter */
.post p:first-of-type:first-letter {
  font-family: Merriweather;
  font-size: 2.75rem;
  font-weight: bold;
  float: left;
  margin: -30px 0px 0px -2px;
}
.post p:first-of-type:first-line {
  margin-top: 20px;
  line-height: 1;
}