/* IMPORTS */
/*
  Remember that the file formats are the result of different "compression" algorithms. Newer font formats and their file size are more efficiently compressed without losing their lovely looks. BUT, not all browsers support newer file formats. Consider the following:

  ** EOT, Embedded OpenType: Compatible with Internet Explorer 6+.

  ** WOFF, Web Open Font Format: Compatible with Firefox 3.6+, Safari 5.1+, Chrome 5+, Internet Explorer 9+, Opera 11.5+, Android 4.4+, and iOS Safari 5.1+.

  ** WOFF2 — Next-gen WOFF that's ~20–30% reduced in file size. Compatible with Firefox 3.6+, Safari 5.1+, Chrome 36+, Edge 14+, Opera 23+, Android 67+, and iOS Safari 10+ (Mac OS Sierra and up only). 
  
  Check out canisuse.com for more details, when making your decisions. Here's the page for .woff2: https://caniuse.com/woff2
*/
@import url(https://fonts.googleapis.com/css?family=Merriweather:200,400,700|Open+Sans:400italic,700italic,400,700|Slabo+27px:400);
@font-face {
  font-family: 'Atkinson';
  src: url('../assets/fonts/Atkinson/EOT/Atkinson-Hyperlegible-Regular-102.eot') format('woff');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Atkinson';
  src: url('Roboto-LightItalic-webfont.woff') format('woff');
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: 'Atkinson';
  src: url('Roboto-Bold-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

/*
  TOC
  1. GENERAL
  2. TYPOGRAPHY
  3. ARTICLE
*/

/* 
  1. GENERAL
*/
html {
  font-size: 18px;
}

body {
  background-color: aquamarine;
  color: black;
  line-height: 1.5;
}

/* 
  2. TYPOGRAPHY
*/

/* Font Sizing */
body { font-size: 1.1rem; }
h1 { font-size: 2.25rem; } 
h2 { font-size: 1.5rem; } 
h3 { font-size: 1.25rem; }
h4 { font-size: 1.25rem; font-style: italic; }
blockquote { font-size: 1.125rem; }

/* Font Families */
p  { font-family: Open Sans; }
h1,h2,h3 { font-family: Merriweather; }
blockquote { font-family: Merriweather; }

/* Headings */
h1 {
  margin-bottom: 35px;
}

/* 
  3. ARTICLE
*/

/* Posts */

.post {
  margin: 0.25em;
  padding: 1em;
  border: #19c78c solid 1px;
  box-shadow: 7px 10px 5px 0px wheat;
}

/* paragraphs */
.post p {
  padding: 10px 0px 10px 40px;
}

/* blockquotes */
.post blockquote {
  /* 
   Note the CSS specificity @ work
   with this font-family declaration
  */
  font-family: Slabo;
  padding: 1.5rem;
  margin: 0em 4rem;
}
.post blockquote::before {
  font-family: Merriweather;
  content: "“";
  font-size: 2rem;
}
.post blockquote::after {
  font-family: Merriweather;
  content: "”";
  font-size: 2rem;
}

/* first letter */
.post p:first-of-type:first-letter {
  font-family: Merriweather;
  font-size: 2.75rem;
  font-weight: bold;
  float: left;
  margin: -30px 0px 0px -2px;
}
.post p:first-of-type:first-line {
  margin-top: 20px;
  line-height: 1;
}