/* GENERAL */

/* 
  Basic styles & define dimensions
  to nearly empty grid kids
*/
main > * {
  border: 4px solid blueviolet;
  color: blueviolet;
  font-weight: bolder;
  margin: 1rem;
  padding: 0.5em;
}

h1 {font-size: 1.25rem;}
h2 {font-size: 1.05rem;}

/* GRID */

/* Grid Area Definitions */
header            {grid-area: hdr;}
nav               {grid-area: nav;}
.first_priority   {grid-area: pr1;}
.second_priority  {grid-area: pr2;}
aside             {grid-area: aside;}
footer            {grid-area: ftr;}

/* Tablet/Medium-Sized Screens */
@media screen and (min-width: 768px) {
  main {
    display: grid;
    grid-template-columns: 30ch repeat(2, 2fr) 1fr 1fr;
    grid-template-rows: repeat(7, 1fr);
    gap: 1em;
    grid-template-areas:
      "hdr hdr hdr hdr hdr"
      "nav pr1 pr1 pr1 pr1"
      "nav pr1 pr1 pr1 pr1"
      "nav pr2 pr2 pr2 pr2"
      "aside aside aside aside aside"
      "ftr ftr ftr ftr ftr"
      ;
  }

  main > * { margin: 0; }
}

/* Desktop/Larger-Sized Screens */
@media screen and (min-width: 1200px) {
  main {
    display: grid;
    grid-template-columns: 30ch repeat(2, 2fr) 1fr 30ch;
    grid-template-rows: repeat(7, 1fr);
    gap: 1em;
    grid-template-areas:
      "hdr hdr hdr hdr hdr"
      "nav pr1 pr1 pr1 aside"
      "nav pr1 pr1 pr1 aside"
      "nav pr1 pr1 pr1 aside"
      "nav pr2 pr2 pr2 aside"
      "nav pr2 pr2 pr2 aside"
      "ftr ftr ftr ftr ftr"
      ;
  }

  main > * { margin: 0; }
}

/* XL Screens */
@media screen and (min-width: 1980px) {
  main {
    display: grid;
    grid-template-columns: 150px 40ch 1fr 40ch 150px;
    grid-template-rows: 30vh repeat(6, 1fr) 20vh;
    grid-template-areas:
      "hdr hdr hdr hdr hdr"
      "nav pr1 pr1 pr1 ."
      "nav pr1 pr1 pr1 ."
      "nav aside pr2 pr2 ."
      "nav aside pr2 pr2 ."
      "nav aside ftr ftr ."
      "nav aside ftr ftr ."
      ;
  }

  main > * {
    margin-bottom: 8px;
  }
}