/* CONTAINER */
.container > * {
  border: 2px solid black;
  padding: 1.75em;
}

/* GRID */

/* Define grid area keywords */
.header         { grid-area: header; }
.nav__left      { grid-area: nav_left; }
.sidebar__right { grid-area: sidebar_right; }
.content__1     { grid-area: content_1; }
.content__2     { grid-area: content_2; }
.content__3     { grid-area: content_3; }
.footer         { grid-area: footer; }

/* 
  - Define grid
  - Define template sizing for cols & rows
  - Use area keywords to place items
    along row/col tracks
*/
.container {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: 50vh repeat(4, 1fr) 100px;
  grid-gap: 1rem;
  grid-template-areas:
    "header header header"
    "nav_left content_1 sidebar_right"
    "nav_left content_2 sidebar_right"
    "nav_left content_3 sidebar_right"
    "footer footer footer"; 
}