/* CONTAINER */
.container > * {
  border: 2px solid black;
  padding: 1.75em;
  /* margin-bottom: 5vh; */
}
/* .header {padding: 0;position: relative;} */

/* GRID */

/* Define grid area keywords */
.header        { grid-area: header; }
.nav_left      { grid-area: nav_left; }
.sidebar_right { grid-area: sidebar_right; }
.content-1     { grid-area: content-1; }
.content-2     { grid-area: content-2; }
.content-3     { grid-area: content-3; }
.footer        { grid-area: footer; }

/* 
  - Define grid
  - Define template sizing for cols & rows
  - Use area keywords to place items
    along row/col tracks
*/
.container {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: 50vh repeat(4, 1fr) 100px;
  grid-gap: 1rem;
  grid-template-areas:
    "header header header"
    "nav_left content-1 sidebar_right"
    "nav_left content-2 sidebar_right"
    "nav_left content-3 sidebar_right"
    "footer footer footer"; 
}