/* Root Variables */
:root {
  font-size: 20px;
  --background-color: #63fdf6;
  --foreground-color: #8a2be2;
}

/* GENERAL */
/* Define new default values for page */

body {
  color: var(--foreground-color);
  background-color: var(--background-color);
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

/* PAGE HEADER */

/* How would I select the image in the page's header? */
.page_banner img {
  width: 50px;
  float: left;
}

/* FEATURED ARTICLES */

/* FA Grid */

/* Define grid area keywords */
.fa_top { grid-area: article_1; }
.fa_2   { grid-area: article_2; }
.fa_3   { grid-area: article_3; }
.fa_4   { grid-area: article_4; }

/* How could I create a grid on the featured_articles__container class? */
.featured_articles__container {
  max-width: 1280px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "article_1 article_1 article_1 article_1"
    "article_1 article_1 article_1 article_1"
    "article_2 article_2 article_3 article_3"
    "article_4 article_4 article_4 article_4"
  ;
}
