/* CONTAINER */
.container > * {
  border: 2px solid black;
  min-height: 30vh;
}

/* GRID */

/* 
  - Define grid
  - Define template sizing for cols
*/
.container {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  grid-gap: 1rem;
}

.header {
  grid-row: 1/2;
  grid-column: 1/-1;
}