/* IMPORTS */
@import url('fonts.css');

/*
  TOC
  1. GLOBAL VARS
  2. GENERAL
  3. TYPOGRAPHY
  4. ARTICLE
*/

:root {
  --eggplant: #3f0a2b;
  --yelloworange: #fcba4e;
}

/* 
  2. GENERAL
*/
html {
  font-size: 18px;
}

body {
  background-color: var(--yelloworange);
  color: var(--eggplant);
  line-height: 2;
}

/* 
  2. TYPOGRAPHY
*/

/* Font Sizing */
body { font-size: 1.1rem; }
h1 { font-size: 2.25rem; } 
h2 { font-size: 1.5rem; } 
h3 { font-size: 1.25rem; }
h4 { font-size: 1.25rem; font-style: italic; }
blockquote { font-size: 1.125rem; }

/* Font Families */
body { font-family: 'Atkinson'; }
h1,h2,h3,blockquote { font-family: 'Merriweather'; }

/* Headings */
h1 {
  margin-bottom: 35px;
}

/* 
  3. ARTICLE
*/

/* Posts */

.post {
  max-width: 720px;
  margin: auto;
  padding: 1em;
  border: var(--eggplant) solid 1px;
  box-shadow: 7px 10px 5px 0px var(--eggplant);
}

/* paragraphs */
.post p {
  padding: 10px 0px 10px 40px;
}

/* blockquotes */
.post blockquote {
  padding: 1.25rem;
  margin: 0em 4rem;
}
.post blockquote::before {
  content: "“";
  font-size: 2rem;
}
.post blockquote::after {
  content: "”";
  font-size: 2rem;
}

/* first letter */
.post p:first-of-type:first-letter {
  font-family: 'Merriweather';
  font-size: 2.75rem;
  font-weight: bold;
  float: left;
  margin: -5px 0px 0px -2px;
}
.post p:first-of-type:first-line {
  margin-top: 20px;
  line-height: 2;
}