@import "nav.css";
/* Import Fonts from https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css?family=Monoton|Metrophobic|Roboto');

/* 
  GENERAL
*/

:root {
  font-size: 18px; /* Define root font-size */
  background: antiquewhite;
}

body {
  padding: 2em;
}

/* TYPOGRPAHY SCHEME */

/* Font Sizing */
h1 { font-size: 2.25rem; /* @ 18px, computes to 40.50px */ } 
h2 { font-size: 1.75rem;  /* @ 18px, computes to 27.00px */ } 
h3 { font-size: 1.25rem;/* @ 18px, computes to 20.25px */}
h4 { font-size: 1.25rem; font-style: italic; }

/* Font Families */
body { font-family: Metrophobic; }
h1, h2, h3, h4 { font-family: Monoton; }

/* ASIDE */

aside {
  width: 20%;
  float: right;
  padding: 2em;
  border: 1px solid #e2ccaf;
  box-shadow: 6px 7px 1px 0px #e2ccaf;
}

aside h2 {
  font-family: Metrophobic;
  font-size: 1.1rem;
}
aside p {
  font-family: Roboto;
  font-size: 0.85rem;
}
