/* Skip Link */
a.skip-to-link {
  /* absolute positions the element to the viewport instead of the container element */
  position: absolute;
  /* Rules below position the skip link way way way out off of the viewport, so the link effectively 'disappears' for those who do not use ARIA technologies */
  left: -999px;
  width: 1px;
  height: 1px;
  top: auto;
}
/* When the skip link has the condition of being focused by the ARIA tech (:focus), we bring it back into the viewport by reverting it to an inline-block element that can also be perceived visually.  */
a.skip-to-link:focus {
  color: black;
  display: inline-block;
  height: auto;
  width: auto;
  position: static;
  margin: auto;
}